body{
	background-color: #CD5C5C;
	color: white;
	width: 100%;
	font-size: 30px;
	text-align:center;
	font-family:"Lucida Handwriting";
    }
    
    
ul {
	List-style-position:inside;
}
ol {
	list-style-position:inside;
}
a{color:white}